.container {
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.text-message {
  position: absolute;
  bottom: 50px;
  text-align: justify;
  background: #ececec;
  padding: 8px 16px;
  border-left: 4px solid #555;
  padding-left: 4px;
}

input[type="text"] {
  border: none;
  outline: none;
  background: none;
  width: 48px;
  padding: 0;
  font-size: 40px;
  text-align: center;
}

input[type="text"][disabled] {
  color: #333;
}

button {
  position: relative;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 2px 15px;
}

.tooltip {
  visibility: hidden;
  width: 85px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 4px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -42.5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.time-controllers {
  position: absolute;
  bottom: 50px;
}

.time-container {
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-label {
  margin-right: 5px;
  font-size: 8px;
}

.vertical-divider {
  width: 4px;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #555;
  border-radius: 2px;
}

.egg-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.egg {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.bubble {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  text-align: center;
  line-height: 1.4em;
  margin: 40px auto;
  background-color: #fff;
  border: 4px solid #555;
  border-radius: 200px;
  font-family: sans-serif;
  padding: 30px;
  font-size: large;
  visibility: hidden;
}

.bubble:before,
.bubble:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 4px solid #333;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
}

.bubble:after {
  width: 20px;
  height: 20px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
}

#egg:hover {
  cursor: pointer;
}

#egg:hover ~ .bubble {
  visibility: visible;
}

.snackbar {
  width: 500px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 100;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
}

.close-btn {
  padding: 8px 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: #f44336;
}

.close-btn:hover {
  background-color: #da190b;
}

.message-phone {
  width: 350px;
  padding: 8px 16px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border-left: 4px solid #555;
  padding-left: 4px;
  background-color: #ececec;
  display: none;
}

@media only screen and (max-width: 700px) {
  .container {
    width: 100vw;
  }
  .vertical-divider {
    display: none;
  }
  .egg-container {
    display: none;
  }
  .message-phone {
    display: block;
  }
}
